<div class="<%= @state %>" id="totals">

<ul>
  <li><span>Critical</span> <%= @totals[:critical] %></li>
  <li><span>Warning</span> <%= @totals[:warning] %></li>
  <li><span>OK</span><%= @totals[:ok] %></li>
</ul>

</div>
